services:
  api:
    build: .
    container_name: fastapi_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal
      - REDIS_HOST=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    depends_on:
      - prometheus

  celery_worker:
    build: .
    container_name: fastapi_celery_worker
    # 호스트(내 컴퓨터)의 파일을 컨테이너에 마운트 (코드 수정 시 즉시 반영)
    volumes:
      - .:/app
    # .env 파일 로드 (SMTP 설정 등 공유)
    env_file:
      - .env
    environment:
      # 컨테이너 내부에서 호스트(내 컴퓨터)의 DB와 Redis에 접근하기 위해 주소 변경
      - DB_HOST=host.docker.internal
      - REDIS_HOST=host.docker.internal
      # SMTP 설정은 .env에서 가져오지만, 명시적으로 적어줄 수도 있음
    # 리눅스 환경에서도 host.docker.internal을 사용하기 위한 설정
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # 재시작 정책
    restart: on-failure

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # 기본 비밀번호
    restart: always
